@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.favsHeader {
  position: relative;
  @include mixins.square(35px);

  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: end;

  cursor: pointer;

  transition: fill 0.3s ease, transform 0.2s ease-in-out;

  @include mixins.mediaTablet {
    @include mixins.square(32px);
  }

  @include mixins.hover {
    &:hover {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &_setting {
    animation: simulate 0.5s ease;
      
  }

  &__icon {
    fill: var.$color-pink;
    transition: fill 0.3s ease;

    &_full {
      fill: var.$main-color-tomato;
    }
  }

  &__amount {
    position: absolute;
    top: 0px;
    right: -3px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background-color: var.$main-color-tomato;

    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
  }
}

@keyframes simulate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}