@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.recipe {
  @include mixins.mainBox();

  margin: 0 auto;

  overflow: hidden;

  &__recipeBox {
    width: 100%;
    max-width: var.$max-width-recipes;

    margin: 0 auto;

    padding: calc(var.$header-hight + 50px) 7% 0;

    @include mixins.mediaNoteBook {
      padding: calc(var.$header-hight + 30px) 64px 80px;
    }

    @include mixins.mediaTablet {
      padding: calc(var.$header-hight + 20px) 32px 50px;
    }

    @include mixins.mediaMobile {
      padding: calc(var.$header-hight + 10px) 16px 50px;
    }

    &__head {
      display: flex;
      justify-content: space-between;
    }
  }

  &__shareText {
    max-width: var.$max-width-recipe-image;
    margin-bottom: 20px;

    font-size: 16px;
  }

  &__stickerInfo {
    margin-bottom: 5px;

    &__title {
      font-style: italic;
      font-weight: 700;
    }
  }
}
