@use 'src/styles/mixins.scss';
@use 'src/styles/variables.scss' as var;

.favsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include mixins.mediaTablet {
    max-width: 150px;

    margin-bottom: 16px;
  }

  &__button {
    position: relative;

    cursor: pointer;
  }

  &__info {
    font-style: italic;
    color: var.$color-text-opacity2;

    @include mixins.mediaTablet {
      font-size: 14px;
      text-align: end;
    }

    @include mixins.mediaMobile {
      display: none;
    }
  }

  &__icon {
    @include mixins.square(30px);
    transform: scale(1);

    transition: transform 0.2s ease-in-out;

    path {
      fill: var.$main-color-tomato;
      opacity: 0.2;
      transition: opacity 0.3s ease;
    }

    &_setting {
      animation: simulate 0.5s ease;
    }
  }

  @include mixins.hover {
    &__button:hover &__icon path {
      opacity: 1;
    }
  }

  &_active &__icon path {
    opacity: 1;
  }
}

@keyframes simulate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
